@import '../../../colors';

.buttonContainer {
    border-radius: 10px;
    padding: 10px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    margin: 0 0.5vw 0;
}

.buttonContainer:hover {
    box-shadow: 0 0 5px $shadow;
}

.buttonIcon {
    margin-right: 5px;
}

.buttonText {
    display: inline-block;
}

.buttonWhite {
    background-color: $buttonLight;
    color: $accentColor;
}

.buttonBlue {
    border: 2px solid $buttonNeutral;
    background-color: $buttonLight;
    color: $buttonNeutral;
}

.buttonGreen {
    border: 2px solid $buttonAccept;
    background-color: $buttonLight;
    color: $buttonAccept;
}

.buttonRed {
    border: 2px solid $buttonDecline;
    background-color: $buttonLight;
    color: $buttonDecline;
}

.buttonGradient {
    background-image: linear-gradient($gradientLight, $gradientDark);
    color: $lightFont;
}

.buttonGray {
    background-image: linear-gradient(to right, $buttonDisabledGradient1, $buttonDisabledGradient2);
    color: $lightFont;
}