.buttonContainer {
    border-radius: 10px;
    padding: 10px 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.buttonIcon {
    margin-right: 5px;
}

.buttonText {
    display: inline-block;
}

.buttonWhite {
    background-color: #F8F8F8;
    color: #2EE7C5;
}

.buttonBlue {
    border: 2px solid #99C2EE;
    background-color: #F8F8F8;
    color: #99C2EE;
}

.buttonGreen {
    border: 2px solid #2EE7C5;
    background-color: #F8F8F8;
    color: #2EE7C5;
}

.buttonRed {
    border: 2px solid #F9A6A6;
    background-color: #F8F8F8;
    color: #F9A6A6;
}

.buttonGradient {
    background-image: linear-gradient(rgb(155, 193, 238), rgb(108, 210, 221));
    color: #F6F6F6;
}