@import "../../../colors";

.declarationsTable {
  margin: 5vh 0 5vh;
  height: fit-content;
}

.declarationsTableHead {
  text-align: center;
}

.declarationsTableRow {
  text-align: center;
  border-bottom: 1px solid $tableRowBorder;
  border-top: 1px solid $tableRowBorder;
}

.declarationsTableRow:hover {
  background-color: $tableRowBackground;
}

.declarationsTableTH {
  padding-bottom: 2vh;
  font-size: 2vh;
}

.declarationsTableTDButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2vh 0 2vh;
}

.declarationsTableTD {
  margin: 3vh 0 3vh;
}