.pageContainer {
    height: 100vh;
    width: 100vw;
}

.pageHeader {
    height: 15vh;
    min-height: 15vh;
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    height: 85vh;
    max-height: 85vh;
}