@import "../../../../colors";

.groupsStudentsTable {
  width: 100%;
  font-size: 2vh;

  th {
    text-align: center;
    font-size: 2.2vh;
  }

  tr {
    text-align: center;
    height: 7vh;
    border-bottom: 1px solid $tableRowBorder;
  }

  tr:hover {
    background-color: $tableRowBackground;
  }

  .groupsStudentsTableHeader {
    border-bottom: 0;
  }

  .groupsStudentsTableHeader:hover {
    background-color: transparent;
  }

  .groupsStudentsTableButtons {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
  }
}

