.commentComponent {

}

.commentComponentHeader {
    font-size: xx-large;
    border-bottom: 2px solid #2EE7C5;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}


.commentComponentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentComponentFormSection {
    margin: 10px 0 5px;
    font-size: 1.2em;
    text-align: center;
}

.select {
    font-size: 1em;
    border-radius: 10px;
    padding: 2px;
}

.select:focus {
    outline: none;
}

.commentComponentButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    margin-top: 15px;
}
