.commentOptionsComponentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    margin-top: 2vh;
}

.commentOptionsComponentSelect {
    width: 15vw;
    margin-left: 1vw;
}

.commentOptionsComponentFormSectionVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentOptionsComponentFormSectionVerticalRadioGroup {
text-align: center;
}

.commentOptionsComponentFormSectionHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    justify-content: space-around;
    margin: 1vh 0 1vh;
}

.select {
    font-size: 1em;
    border-radius: 10px;
    padding: 2px;
}

.select:focus {
    outline: none;
}

.commentOptionsComponentButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    margin-top: 3.5vh;
}
