@import '../../../colors';

.declareComponentListBlock {
}

.declareComponentListTitle {
  margin-top: 1.5vh;
  border-bottom: 1px solid $tableRowBorder;
  font-size: 3vh;
  font-weight: 900;
  background: linear-gradient(to bottom, $gradientLight 0%, $gradientDark 90%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.declareComponentListExercise {
  padding: 1vh 1vw 1vh;
  border-bottom: 1px solid $tableRowBorder;
}

.declareComponentListSubpoint {
  padding: 2vh 4vw 0;
}

.declareComponentListLang {
  padding: 2vh 4vw 0;
}