@import "../../../../colors";

.groupsComponentTable {
  width: 100%;

  th {
    text-align: center;
    font-size: 2vh;
  }

  tr {
    text-align: center;
    height: 7vh;
    border-bottom: 1px solid $tableRowBorder;
  }

  tr:hover {
    background-color: $tableRowBackground;
  }

  .groupsComponentTableButtons {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
  }

  .groupsComponentTableHeader {
    border-bottom: 0;
  }

  .groupsComponentTableHeader:hover {
    background-color: transparent;
  }
}