@import '../../../colors';

.circleContainer {
    background-color: $lightBackground;
    border-radius: 50vw;
    padding: 10vh;
    width: 75vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.circleContainerHeader {
    font-size: 4vh;
    font-weight: 900;
    background: linear-gradient(to bottom, $gradientLight 0%, $gradientDark 90%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid $accentColor;
    text-align: center;
    white-space: pre-line;
}

.circleContainerFooter {
    border-top: 1px solid $accentColor;
    padding-top: 2%;
    color: $accentColor;
    text-align: center;
    cursor: pointer;
}