@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-image:  linear-gradient(rgba(155, 193, 238, 0.6), rgba(108, 210, 221, 0.6)), url('./assets/background.jpg');
    background-size: cover;
}
