$buttonNeutral: #99C2EE;
$buttonDecline: #F9A6A6;
$buttonAccept: #2EE7C5;
$buttonLight: #F8F8F8;
$buttonDisabledGradient1: #D1D1D1;
$buttonDisabledGradient2: #DFDFDF;


$gradientLightRgba: rgba(155, 193, 238, 0.6); // blue
$gradientDarkRgba: rgba(108, 210, 221, 0.6);  // green

$gradientLight: #99C2EE;  // blue
$gradientMedium: #6CD2DD; // lighter green
$gradientDark: #2EE7C5;   // green

$barsAndSecondBackground: #F8F8F8;
$lightBackground: #FFFFFF;

$darkFont: #000000;
$lightFont: #F6F6F6;
$accentColor: #2EE7C5;

$badIndicator: #F9A6A6;
$neutralIndicator: #B3B2AC;
$goodIndicator: #2EE7C5;

$ticks: #0CA3F8;

$exerciseTilesBackground: #E5E5E5;

$tableRowBorder: #dfdfdf;
$tableRowBackground: #f6f6f6;

$shadow: #999999;